.flexContainer{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.flipCard {
    background-color: white;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin: 20px;

    display: flex;
    justify-content: center;
    flex-direction: row;
}

.flipCardInner {
    width: 300px;
    height: 300px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(95, 90, 90, 0.2);
}

.flipCard:hover .flipCardInner {
    transform: rotateY(180deg);
}

.flipCardFront, .flipCardBack {
    position: absolute;
    width: 300px;
    height: 300px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
}

.flipCardFront {
    color: black;
}

.flipCardBack {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
    padding-top: 50px;
}
.characterImage{
    width:300px;
    height:300px;
}

.theModalBody{
    text-align: center;
}