.App{
    text-align: center;
}
.searchInput{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.arrowContainer{
    padding: 20px;
}

.belowButton{
    margin-right: 70px;
    margin-left: 70px;
}